/**
        Mobile
 */
@media only screen and (max-width: 479.5px) {
  width: 100%;
}

/**
        Tablette
 */
@media only screen and (min-width: 480px) and (max-width: 1279.5px) {
  width: 200px;
}

/**
        Desktop
 */
@media only screen and (min-width: 1280px) {
  .sidebar {
    width: 450px;
  }
}

/**
        All
 */
.sidebar {
  &.close {
    display: none;
  }

  &.open {
    display: block;
  }
}
