<div id="app-sidebar">
  <!-- Icone utilisateur -->
  <div>
    <app-toggle-menu></app-toggle-menu>
  </div>

  <div class="d-none">
    <!-- Import du composant profil -->

    <!-- Import du composant menu -->
    <nav>
      <h3>Events</h3>
      <ul>
        <li><a [routerLink]="['/new-event']">New event</a></li>
        <li><a [routerLink]="['/my-events']">My events</a></li>
      </ul>
      <h3>Settings</h3>
      <ul>
        <li><a [routerLink]="['/profile']">Profile</a></li>
        <li><a [routerLink]="['/settings']">Settings</a></li>
      </ul>
    </nav>
  </div>
</div>
